* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

a {
  text-decoration: none;
  color: #F9FAF8;
  font-weight: bold;
  padding: 1rem;
}

a:visited {
  text-decoration: none;
}

img {
  max-height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: auto;
  background-color: #1F2937;
  padding: 0.5rem;;
}

.navbar {
  max-width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2em;
  align-items: center;
}

#navlink {
  background-color: #1F2937;
  display: flex;
  height: 70%;
  align-items: ;
}

.hero-container {
  background-color: #1F2937;
  height: 25rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 3rem;
}

.hero-text {
  width: 60%;
  font-size: 2rem;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;  
}

.services-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.services {
  display: flex;
  height: 12rem;
  justify-content: space-around;
  gap: 5rem;
  padding-bottom: 6rem;
}

#services {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

.quote {
  background-color: #E5E7EB;
  height: 15rem;
  display: flex;
  flex-direction: column;
  padding: 0 30rem;
  justify-content: center;
}

.quote p {
  text-align: center;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  max-width: 50rem;
  
}

.quote b {
  text-align: right;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  font-weight: bold;
  max-width: 50rem;
}

